<nav class="navbar navbar-dark bg-success">
    <!-- Navbar content -->
    <div class="container">
        <a class="navbar-brand mr-auto" href="{{ path('app_atelier_index') }}">
            <i class="bi-house" style="font-size: 2rem; color: black;"></i>
        </a>
        {% if is_granted('ROLE_INSTRUCTEUR') %}
        <a class="navbar-brand ml-auto" href="{{ path('app_atelier_new') }}">
            <i class="bi-plus" style="font-size: 2rem; color: black;"></i>
        </a>
        {% endif %}
        <a class="navbar-brand ml-auto" href="{{ path('app_atelier_list') }}">
            <i class="bi-binoculars" style="font-size: 2rem; color: black;"></i>
        </a>
        {% if app.user %}
        <a class ="navbar-brand ml-auto" href="{{ path('app_logout') }}">
            <i class="bi-arrow-bar-right" style="font-size: 2rem; color: black;"></i>
        </a>
        {% else %}
        <a class ="navbar-brand ml-auto" href="{{ path('app_login') }}">
            <i class="bi-arrow-bar-left" style="font-size: 2rem; color: black;"></i>
        </a>
        {% endif %}
    </div>
</nav>